.container{
  border: 5px solid;
  border-color: blue;
  text-align: center;
  box-shadow: 5px 5px 5px 5px rgb(10, 5, 71) ;
  width: 70%;
  margin-top:5%;
  padding-bottom:  30px;
  border-radius: 5%;
  
}
